#dashboard_sidenav{
    /* background-color: blue; */
}
#dashboard_content{
    /* background-color: red; */
}
.width{
    width:100%;
}
.marginL25{
    margin-left:25%;
}
.width25{
    width:25%;
}
#buffer{
    padding-top:240px;
    padding-left:150px;
}