@media only screen and (max-width: 1023px) {

    .client_card{
        margin:0px 8%;
        -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 3px 3px #ccc;
        margin-top:10px;
        margin-bottom:10px;
        padding:7px;
        border-radius:10px;
        
    }
    #gray_row{
        background-color:lightgray;
    }
    p{
        padding:8px;
        font-size:15.5px;
        margin:0px;
        color:gray;
    }
    h4{
        color:gray;
    }
    span{
        color:black;
        font-weight: 600;
    }
    .row{
        float:left;
    }
    #timestamp{
        text-align: right;
    }
    .parent{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .child{
        padding:10px;
    }
    h1{
        margin:0px;
        color:white;
    }
    #dashboard-header{
        background-color:#003a6b;
        padding:15px;
        overflow: hidden;
    }
    #header-right{
        float:right;
    }
    #search-area{
        background-color:lightgray;
        color:white;
        padding-bottom:20px;
    }
    #line{
        margin:0px;
        padding:25px 15px 5px 15px;
        border-bottom: 2px solid white;
        width:75%;
        border-right:0px;
        border-left:0px;
        border-top:0px;
        margin-left:12.5%;
    }
    #name-field{
        float:left;
    }
    #spacer25{
        width:35%;
    }
    #filter-wrapper{
        position: fixed;
        padding:0px;
        /* margin:5%; */
        height:100%;
        width:100%;
        background-color:rgb(255, 251, 251);
    }
    
    #margin{
        margin:0px 30px;
    }

    #margin div{
        height:25vh;
    }
    
    #margin h3{
        margin-bottom:2px;
    }

    #card-header{
        overflow: hidden;
    }

    #card-header h4{
        float:left;
    }

    #card-header-right input{
        float:right;
    }

    #dashboard-header{
        overflow: hidden;
    }

    #dashboard-header h1{
        float:left;
    }

    #header-right button{
        float:right;
    }

}


.dashboard-button{
    width: 13em;
    height: 2.5em;
    border-radius: 0;
    background-color: #5f92be;
    color: white;
    font-size: .9em;
    font-weight: bolder;
    margin: 15px auto 1em auto;
    display:flex;
    justify-content: center;
}

.floatCenter{
    display:flex;
    justify-content: center;
}
.floatCenter h3{
    color:#003a6b;
    padding:0px 15px;
}

#filter-button{
    width: 35px;
    height: 35px;
    padding:0px;
    border:0px;
}

#header{
    background-color:#003a6b;
    padding:15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#dashboard-sidepanel{
    width:300px;
    min-width: 200px;
    background-color:#d4d4d4;
    border-right:2px solid #949292;
    padding:0px 20px;
}
#dashboard-content{
    padding:0px 20px;
    width:100%;
}

#dashboard-desktop{
    flex-direction: row;
    display:flex;
    min-height: 100vh;
}
#search-bar{
    width:70%;
    height:40px;
    padding:0px 0px 0px 5px;
    margin:0px;
}
#search-button{
    height:40px;
    width:40px;
    margin:0px;
    padding:0px;
    border-width:0px;
}
.parent{
    display:flex;
    flex-direction: row;
}
.child{
    margin-right:10px;
}

#checkbox{
    float:right;
    width:20px;
    height:20px;
    margin-top:10px;
}


tr #checkbox{
    margin: 10px 10px;
}

.column{
    display:flex;
    flex-direction: column;
}

#label{
    margin-top:10px;
}
.row{
    display:flex;
    flex-direction: row;
}

tr:nth-child(even){
    background-color:#bebebe;
}

#table-wrapper{
    position:relative;
}

#table-scroll{
    height: calc(100vh - 200px);
    overflow:auto;  
    margin-top:20px;
}

#table-wrapper table{
    width:100%;
}

#table-wrapper table * {
    color:black;
}

table{
    width:100%;
    border-spacing:0px;
    text-align: left;
}

td, th{
    padding:0px 5px;
}

#card-checkbox{
    float:right;
    width:20px;
    height:20px;
    margin-top:25px;

}

#textButton:hover{
    cursor: pointer;
}

.floatLeft{
    overflow: hidden;
}

.floatLeft h3{
    color:#003a6b;
    padding:0px 15px;
    float:left;
}

.floatRight{
    float:right
}

#dashboard-data-header{
    margin-bottom:25px;
}

#dashboard-time{
    text-align:center;
    margin:0px;
    font-size:20px;
}