#body{
    display: flex;
    background-color: #003a6b;
	-webkit-box-pack: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    width: 100%;
    margin:0px;
	z-index: 30;
}

#login_fields {
	display: block; 
	justify-content: center;
	text-align: center;
	padding: 60px 20px 20px;
	border-color: black;
	width: 100%;
	max-width: 400px;
	background-color: white;
}

@media only screen and (max-width: 680px) {

    #login_fields{
        max-width: 300px;
    }
    #login-page-input input{
        margin-left:0px !important;
    }

}

#login-page-input input{
	margin-left:0px !important;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h2 {
	color: #003a6b;
}

#login-page-input input {
	/* padding: .5em; */
    font-size: 1em;
    width:80%;
}

#loginbutton {
	position: center;
	text-align: center;
	font-size: 1.25em;
    /* background-color: #003a6b; */
	background-color: #003a6b;
	width:150px !important;
	height: 40px;
    color:#FFF9ec;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#copyright {
	color: white;
	position: absolute;
	bottom:0px;
	/* width: 100%; */
	left: 0;
    padding-top: 1em;
    font-style: italic;
    left:50%;
    margin-left:-72px;
}
h4 {
	color: #003a6b;
	font-size:18px;
}
#input{
	margin:10px 0px;
	height:37px;
}
#textleft{
	text-align: left;
}
label{
	color:#003a6b;
	font-size:16px;
}
#login-page-vspacer{
	height:35px;
}

#login-page-create-user:hover{
	cursor: pointer;
}