
#calculator-title{
    margin: 5vw;
    font-weight: lighter;
    color: #555
}

.overview-text{
    max-width: 65vw;
    margin: 5vw;
}

.overview-text p{
    font-size: 1.1em;
    line-height: 1.3;
    color: #444;
}

.input-wrapper{
    display: flex;
    flex-direction: row;
}

form{
    margin: 5vw;
    padding: 2.5vw;
    max-width: 60vw;
    border: .1em solid #AAA;
}

input, select{
    margin-top: 4vh;
    border: .1vw solid #AAA;
    width: 15%;
    height: 2.5em;
    background-color: #FFF;
    font-family: Garamond, Serif;
    -webkit-border-radius: 0px;
}

.about-you, .personal-assets, .current-policy, .immediate-needs, .long-term-needs{
    padding: 3vw;
}

.about-you::before, .personal-assets::before, .current-policy::before, .immediate-needs::before, .long-term-needs::before{
    display: block;
    background-color: #FFF9ec;
    box-shadow: 1px 4px 7px #AAA;
    border-right: 8px solid #00346a;
    padding: 1vw 2vw;
    width: 50%;
    text-align: start;
    font-family: "Garamond", Serif;
    color: #516571;
    font-size: 1.7em;
    position: relative;
    margin-left: -7.5vw;
}

label{
    font-size: 1em;
    color: #333;
    margin-top: 5vh;
    margin-right: 1em;
    margin-left: 2em;
}


{/* TABLET / SMALL SCREEN STYLING */}



@media only screen and (max-width: 800px) {

    form{
        max-width: 80vw;
    }

    .about-you::before, .personal-assets::before, .current-policy::before, .immediate-needs::before, .long-term-needs::before{
        padding: 1.5vw 2.5vw;
        width: 55%;
        color: #516571;
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 700px) {

    label, input, select{
        margin-top: 1vh;
    }

    .input-wrapper{
        flex-direction: column;
    }

    label{
        margin-left: 5vw;
    }

    input, select{
        width: 85%;
        margin-left: 5vw;
    }

    .overview-text{
        max-width: 90vw;
    }

}




{/* MOBILE STYLING */}


@media only screen and (max-width: 500px) {


    form{
        max-width: 90vw;
    }

    .about-you, .personal-assets, .current-policy, .immediate-needs, .long-term-needs{
        display: flex;
        flex-direction: column;
    }

    .about-you::before, .personal-assets::before, .current-policy::before, .immediate-needs::before, .long-term-needs::before{
        padding: 2vw 4vw;
        width: 80%;
        font-size: 1.9em;
    }

    li{
        font-size: 18px;
    }

}

.about-you::before{
    content: "About You";
}

.personal-assets::before{
    content: "Personal Assets";
}

.current-policy::before{
    content: "Your Policy";
}

.immediate-needs::before{
    content: "Immediate Needs";
}

.long-term-needs::before{
    content: "Long Term Needs";
}


input::placeholder, select::selection{
    color: #DDD;
    font-size: .9em;
}

.calculate{
    width: 15em;
    height: 4em;
    border-radius: 0;
    background-color: #00346a;
    color: white;
    font-size: .9em;
    font-weight: bolder;
}


body{
    font-family: "Garamond";
}
h1{
    font-weight: 500;
    color:#003a6b;
}

.component{
    max-width:1000px;
}




.mobile{
    display:none;
}

.desktop{
    display:inline;
}

.desktop label{
    padding:10px;
}

.button{
    color:white;
    margin:20px auto;
    padding:10px;
    width:10em;
    background-color:#3c6189;
    font-size: 20px;
}


@media only screen and (max-width: 1000px) {

    .mobile{
        display:inline;
    }

    .desktop{
        display:none;
    }

    .list-center{
        text-align: left;
        margin:auto;
    }
}

@media only screen and (max-width: 1000px) {

    .input-wrapper{
        flex-direction: column;
    }

    label{
        margin-left: 5vw;
    }

    input, select{
        max-width:50vw;
        width: 65%;
        margin-left: 5vw;
    }

    .overview-text{
        max-width: 90vw;
    }

}